.cart{
    width: auto;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
img{
    width: 210px;
    height: 210px;
    margin: 20px;
}
p{
    text-align: justify;
}
.image{

}
button{
    
}